.ui-content {
    padding: 0 !important;
}
 
.ui-listview {
    margin: 0 !important;
}
 
.example-wrapper, .example-wrapper div.iscroll-scroller {
    width: 100% !important;
}


img#icon {
	display: block;
	max-width: 230px;
	max-height: 95px;
	width: auto;
	margin: auto;
	height: auto;
}

img.thumbnail {
	width: 80px;
	height: 80px;
}

img.detail-overview {
	width: 100%;
	max-width: 350px;
}

div.album-info-header {
	font-size: 0.8em;
}

div.album-info-header div {
	float: left;
	width: 40%;
}

div.album-info-header table tr td:nth-child(2) {
	font-weight: bold;
	padding: 5px;
}

div.album-info-header div:nth-child(2) {
	padding-left: 10px;
	max-width: 60%;
}

div.album-playlist {
	clear: both;
}